/* ---------------------------------------------------- */
/* Type selectors */
/* ---------------------------------------------------- */

body {
  font-family: sans-serif;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  padding: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  font-family: Impact, serif;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

a {
  color: black;
}

a:hover {
  color: brown;
}

a:visited {
  color: black;
}

a:active {
  color: brown;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

/* FOOTER */
footer {
  font-size: 14px;
}

/* ---------------------------------------------------- */
/* Class selectors */
/* ---------------------------------------------------- */

.established {
  font-style: italic;
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  /* padding fuer alle 4 Seiten (left, right, top, bottom) */
  padding: 20px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
  /* INFO: background-color aktivieren fuer Debug! */
  /* background-color: chocolate; */
}

.price {
  text-align: right;
  width: 25%;
  /* INFO: background-color aktivieren fuer Debug! */
  /* background-color: yellowgreen; */
}

.item p {
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* INFO: */
/* The <p> elements are nested in an <article> element with the class attribute of "item". */
/* You can style all the <p> elements nested anywhere in elements with a class named "item" like this: */

.bottom-line {
  margin-top: 25px;
}

.address {
  margin-bottom: 5px;
}
