h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  font-family: Impact, serif;
}

body {
  font-family: sans-serif;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* The <p> elements are nested in an <article> element with the class attribute of 'item'.
   You can style all the <p> elements nested anywhere in elements with a class named 'item' like this: */
.item p {
  display: inline-block;
}
